
body
{
    background-image:url(tło.jpeg);
    font-family: 'Lato', sans-serif;
    
}

    
#container
{
    width:1200px;
    border-bottom:2px solid lightseagreen;
    height: 1100px;
    margin-right:auto;
    margin-left:auto;
    background-color: url(tło.jpeg);

}
header
{
    width:1100px;
    padding:30px 10px;
    display:flex;
    
      
}
#social
{
width:150px;
text-align: center;
display: flex;
padding:10px;
font-size:26px;

}

.fb
{
    width:40px;
    height:20px;
    margin:0px 5px;
    padding:10px 0;
    border-radius: 90px;
    background-color: #3b5998;
    font-size: 15px;
    color:white;
    
}
.fb:hover
{
    background-color: #2a4887;
}
.ins
{
    width:40px;
    background-image:linear-gradient(110deg,#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#F56040,#F77737,#FCAF45,#FFDC80);
    
    padding:10px 0;
    border-radius: 90px;
    font-size:15px;
    color:white;
    height:20px;
}
.ins:hover
{
    background-image:linear-gradient(110deg,#304cd6,#4740ca,#7229a3,#b02473,#d0205b,#e45030,#d66626,#db9d34,#ddcb70);
}
.tt
{
    width:40px;
    background-color: #1DA1F2;
    margin:0px 5px;
    padding:10px 0;
    border-radius: 90px;
    color:white;
    font-size:15px;
    height:20px;
}
.tt:hover
{
    background-color:#0c90d1 ;
}
#icona
{
    
    font-size: 28px;
    font-weight:bold;
    margin:auto;
    display:flex;
    padding:10px 0;
    float:left;
    height:80px;
    
    transition: all 3s;
    
    
}
.iko
{
    padding-top:20px;
    padding-right: 5px;
    transition: 1s;
   
}

#icona:hover
{
    font-size:30px;
}
   
#menu
{
    font-size:30px;
    width:1200px;
    height:60px;
    text-align: center;
    display:flex;
    margin-top:10px;
    flex-direction: row;
    

}

#menu a
{
    margin:0 1rem;
    padding: 1rem;
}
.my
{
    width:300px;
    border: 2px solid black;
    padding-top:10px;
    transition: 1s;
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.5) ; 
    margin:2px;  
    position: relative;

}
.my:hover
{
    color:white;
    font-style: bold;
    font-size:32px;
    cursor: pointer;
    box-shadow: 10px 20px 1px 0px rgba(0,0,0,0.5) ;
}
.osobowe
{
    width:300px;
    border: 2px solid black;
    padding-top:10px;
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.5) ; 
    margin:2px; 
    transition: 1s; 
    position: relative;
    
}



.osobowe:hover
{
    color:white;
    font-style: bold;
    font-size:32px;
    cursor: pointer;
    box-shadow: 10px 20px 1px 0px rgba(0,0,0,0.5) ;
}
.dostawcze
{
    width:300px;
    border: 2px solid black;
    padding-top:10px;
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.5) ; 
    margin:2px; 
    transition: 1s; 
}
.dostawcze:hover
{
    color:white;
    font-style: bold;
    font-size:32px;
    cursor: pointer;
    box-shadow: 10px 20px 1px 0px rgba(0,0,0,0.5) ;
}
.bus
{
    width:300px;
    border: 2px solid black;
    padding-top:10px;
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.5) ;
    margin:2px;  
    transition: 1s;
}
.bus:hover
{
    color:white;
    font-style: bold;
    font-size:32px;
    cursor: pointer;
    box-shadow: 10px 20px 1px 0px rgba(0,0,0,0.5) ;
}

ul{
    padding:0;
    margin:0;
    list-style-type:none;
    font-size:18px;
    height: 35px;
    line-height: 200%;
    display:none;
    
}

 ul li
{
    font-size:30px;
    width:300px;
    height:60px;
    text-align: center;
    list-style-type:none;
    margin-top:10px;
    color:black;
}
    


ul>li:hover
{
    background-image:url(tło.jpeg) ;

}
ul a
{
    text-decoration: none;
    color:black;
    
}
.osobowe a:focus + ul
{
    display: block;
    color:white;
}


ul>li:hover > a
{
    color:#451717;
}
#sidebar
{
    width:1200px;
    height:300px;
    display:flex;
    margin-top:20px;
    margin-left:5px;
}
.sidebarL h3
{
font-size:20px;
font-family: 'Lucida Sans';
width:200px;
height:28px;
border: 2px solid black;
text-align: center;
padding:10px;
border-radius: 60px;
box-shadow:5px 10px 5px 0px rgba(0,0,0,0.5) ;

}
h3
{
font-size:20px;
font-family: 'Lucida Sans';
width:400px;
height:28px;
border: 2px solid black;
text-align: center;
padding:10px;
border-radius: 60px;
box-shadow:5px 10px 5px 0px rgba(0,0,0,0.5) 
}
.sidebarL p
{
    
    border-radius: 50px;
    font-size:16px;
    text-align: center;
    background-color: white;
    transition: 2s;
    height:auto;
    border: 2px solid rgb(135, 182, 190);
    padding:10px;
    width:500px;
}

    .sidebarL p:hover
    {
font-size:17px;
    }

.sidebarR
{
   
    margin-left: 55px;
    margin-top:40px;
    width:600px;
    height: 300px;
    
}
.plec
{
   padding:10px;
}
#footer
{
    width:1196px;
    height: 30px;
    
    
    margin-top: 110px;
    text-align: center;
    padding-top:5px;
    font-weight: 900;

}

#kontakt
{
    width:500px;
    height:300px;
    
    margin-top:100px;
    margin-left:10px;
}

h2
{
    font-size:20px;
font-family: 'Lucida Sans';
width:200px;
height:28px;
border: 2px solid black;
text-align: center;
padding:10px;
border-radius: 60px;
box-shadow:5px 10px 5px 0px rgba(0,0,0,0.5) 
}
#tel
{
    font-size:20px;
    padding-left:10px;
    padding-bottom: 10px;
    transition: 1s;
    height:20px;
}
#mail
{
    font-size:20px;
    padding-left:10px;  
}

#tel:hover
{
    font-weight: bold;
    font-size:21px;
    color:red;
}
    
    
#mail:hover
{
    font-weight: bold;
    font-size:21px;
    color:#451717;
}
@media screen and (max-width:500px)
{
#container
{
flex-direction: column;
flex-wrap: wrap;
font-size: 15px;
}
}